.App {
  display: flex;
  flex-direction: column;
  margin: 20px;
  max-width: fit-content;
}

.app__title {
  min-height: 62px;
  padding-left: 20px;
  padding-right: 20px;
}

.app__body {
  display: flex;
}

.List {
  margin: 20px;
  width: 250px;
}

.Details {
  margin: 20px;
  width: 300px;
}

